In [18]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select

import time
import pandas as pd

In [26]:
options = webdriver.ChromeOptions()
options.add_experimental_option("excludeSwitches", ["enable-logging"])
driver = webdriver.Chrome("chrome_driver\chromedriver.exe", options=options)

# 메인 홈페이지로 이동
driver.get("https://www.koreabaseball.com/")

C:\Users\Luna\AppData\Local\Temp\ipykernel_19096\2730618098.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chrome_driver\chromedriver.exe", options=options)

In [27]:
# 기록 페이지로 이동
css_selector = "#lnb > li:nth-child(3)"
elem = driver.find_element(By.CSS_SELECTOR, css_selector)
elem.click()

# 기록실 페이지로 이동
css_selector = "#lnb02"
elem = driver.find_element(By.CSS_SELECTOR, css_selector)
elem.click()

In [28]:
select = Select(driver.find_element(By.NAME, "ctl00$ctl00$ctl00$cphContents$cphContents$cphContents$ddlTeam$ddlTeam"))
select.select_by_value(value='OB')

In [31]:
thead_xpath = '//*[@id="cphContents_cphContents_cphContents_udpContent"]/div[3]/table/thead/tr'
tbody_xapth = '//*[@id="cphContents_cphContents_cphContents_udpContent"]/div[3]/table/tbody'

table_head = driver.find_element(By.XPATH, thead_xpath).text.split(' ')
table_value = driver.find_element(By.XPATH, tbody_xapth).text.split('\n')

In [32]:
print(table_value)

['1 김태근 두산 0.500 2 6 4 0 2 1 0 0 3 2 0 0', '2 강현구 두산 0.333 3 5 3 0 1 0 0 0 1 0 0 0', '2 안승한 두산 0.333 30 39 36 5 12 3 0 0 15 8 1 0', '4 페르난데스 두산 0.309 139 550 508 52 157 28 0 6 203 77 0 5', '5 안권수 두산 0.297 76 267 239 43 71 7 2 0 82 20 1 0', '6 허경민 두산 0.289 121 493 432 59 125 23 0 8 172 60 2 7', '7 전민재 두산 0.289 35 46 45 11 13 1 0 0 14 0 1 0', '8 김민혁 두산 0.284 38 97 88 11 25 2 0 5 42 16 0 0', '9 강승호 두산 0.264 134 487 444 54 117 28 1 10 177 62 6 5', '10 정수빈 두산 0.259 127 455 405 58 105 12 4 3 134 41 6 4', '11 송승환 두산 0.250 11 28 28 3 7 1 0 1 11 4 0 0', '12 박세혁 두산 0.248 128 402 351 33 87 13 1 3 111 41 8 4', '13 김재환 두산 0.248 128 517 448 64 111 24 1 23 206 72 0 4', '14 김인태 두산 0.247 83 279 235 25 58 6 0 5 79 25 0 0', '15 양석환 두산 0.244 107 446 405 58 99 14 1 20 175 51 0 2', '16 양찬열 두산 0.244 41 94 82 15 20 4 0 3 33 12 1 0', '17 이유찬 두산 0.241 13 31 29 3 7 0 0 1 10 2 1 1', '18 김대한 두산 0.240 51 110 96 13 23 6 1 4 43 11 2 1', '19 박유연 두산 0.235 13 19 17 0 4 0 0 0 4 2 0 0', '19 조수행 두산 0.235 117 134 119 36 28 4 1 1 37 9 2 2', '21 박계범 두산 0.221 77 168 145 21 32 8 0 2 46 14 6 2', '22 김재호 두산 0.215 102 264 223 26 48 7 0 1 58 21 7 4', '23 안재석 두산 0.213 99 264 235 22 50 10 0 3 69 17 4 2', '24 장승현 두산 0.208 60 109 96 6 20 3 0 0 23 9 3 1', '25 오재원 두산 0.172 18 31 29 2 5 2 0 0 7 4 0 1', '26 홍성호 두산 0.167 12 19 18 3 3 0 0 0 3 0 0 0', '27 강진성 두산 0.163 40 94 80 7 13 2 0 1 18 8 1 0', '28 서예일 두산 0.160 35 27 25 2 4 1 0 0 5 2 1 0', '29 신성현 두산 0.087 17 25 23 3 2 0 0 1 5 2 0 0', '30 권민석 두산 0.000 16 3 3 3 0 0 0 0 0 0 0 0']

In [33]:
id_selector = 'cphContents_cphContents_cphContents_ucPager_btnNo2'
elem = driver.find_element(By.ID, id_selector)
elem.click()

In [34]:
temp = driver.find_element(By.XPATH, tbody_xapth).text.split('\n')
table_value.extend(temp)
print(table_value)

['1 김태근 두산 0.500 2 6 4 0 2 1 0 0 3 2 0 0', '2 강현구 두산 0.333 3 5 3 0 1 0 0 0 1 0 0 0', '2 안승한 두산 0.333 30 39 36 5 12 3 0 0 15 8 1 0', '4 페르난데스 두산 0.309 139 550 508 52 157 28 0 6 203 77 0 5', '5 안권수 두산 0.297 76 267 239 43 71 7 2 0 82 20 1 0', '6 허경민 두산 0.289 121 493 432 59 125 23 0 8 172 60 2 7', '7 전민재 두산 0.289 35 46 45 11 13 1 0 0 14 0 1 0', '8 김민혁 두산 0.284 38 97 88 11 25 2 0 5 42 16 0 0', '9 강승호 두산 0.264 134 487 444 54 117 28 1 10 177 62 6 5', '10 정수빈 두산 0.259 127 455 405 58 105 12 4 3 134 41 6 4', '11 송승환 두산 0.250 11 28 28 3 7 1 0 1 11 4 0 0', '12 박세혁 두산 0.248 128 402 351 33 87 13 1 3 111 41 8 4', '13 김재환 두산 0.248 128 517 448 64 111 24 1 23 206 72 0 4', '14 김인태 두산 0.247 83 279 235 25 58 6 0 5 79 25 0 0', '15 양석환 두산 0.244 107 446 405 58 99 14 1 20 175 51 0 2', '16 양찬열 두산 0.244 41 94 82 15 20 4 0 3 33 12 1 0', '17 이유찬 두산 0.241 13 31 29 3 7 0 0 1 10 2 1 1', '18 김대한 두산 0.240 51 110 96 13 23 6 1 4 43 11 2 1', '19 박유연 두산 0.235 13 19 17 0 4 0 0 0 4 2 0 0', '19 조수행 두산 0.235 117 134 119 36 28 4 1 1 37 9 2 2', '21 박계범 두산 0.221 77 168 145 21 32 8 0 2 46 14 6 2', '22 김재호 두산 0.215 102 264 223 26 48 7 0 1 58 21 7 4', '23 안재석 두산 0.213 99 264 235 22 50 10 0 3 69 17 4 2', '24 장승현 두산 0.208 60 109 96 6 20 3 0 0 23 9 3 1', '25 오재원 두산 0.172 18 31 29 2 5 2 0 0 7 4 0 1', '26 홍성호 두산 0.167 12 19 18 3 3 0 0 0 3 0 0 0', '27 강진성 두산 0.163 40 94 80 7 13 2 0 1 18 8 1 0', '28 서예일 두산 0.160 35 27 25 2 4 1 0 0 5 2 1 0', '29 신성현 두산 0.087 17 25 23 3 2 0 0 1 5 2 0 0', '30 권민석 두산 0.000 16 3 3 3 0 0 0 0 0 0 0 0', '30 김강률 두산 - 5 0 0 0 0 0 0 0 0 0 0 0', '30 김동주 두산 - 1 0 0 0 0 0 0 0 0 0 0 0', '30 김명신 두산 - 3 0 0 0 0 0 0 0 0 0 0 0', '30 김지용 두산 - 3 0 0 0 0 0 0 0 0 0 0 0', '30 박신지 두산 - 1 0 0 0 0 0 0 0 0 0 0 0', '30 박정수 두산 - 1 0 0 0 0 0 0 0 0 0 0 0', '30 윤명준 두산 - 1 0 0 0 0 0 0 0 0 0 0 0', '30 이승진 두산 - 1 0 0 0 0 0 0 0 0 0 0 0', '30 임창민 두산 - 3 0 0 0 0 0 0 0 0 0 0 0', '30 장원준 두산 - 1 0 0 0 0 0 0 0 0 0 0 0', '30 정철원 두산 - 2 0 0 0 0 0 0 0 0 0 0 0', '30 최용제 두산 - 1 1 0 0 0 0 0 0 0 0 0 0', '30 홍건희 두산 - 7 0 0 0 0 0 0 0 0 0 0 0']

In [36]:
record_values = []

for item in table_value:
    record_values.append(item.split(' '))

print(record_values)

[['1', '김태근', '두산', '0.500', '2', '6', '4', '0', '2', '1', '0', '0', '3', '2', '0', '0'], ['2', '강현구', '두산', '0.333', '3', '5', '3', '0', '1', '0', '0', '0', '1', '0', '0', '0'], ['2', '안승한', '두산', '0.333', '30', '39', '36', '5', '12', '3', '0', '0', '15', '8', '1', '0'], ['4', '페르난데스', '두산', '0.309', '139', '550', '508', '52', '157', '28', '0', '6', '203', '77', '0', '5'], ['5', '안권수', '두산', '0.297', '76', '267', '239', '43', '71', '7', '2', '0', '82', '20', '1', '0'], ['6', '허경민', '두산', '0.289', '121', '493', '432', '59', '125', '23', '0', '8', '172', '60', '2', '7'], ['7', '전민재', '두산', '0.289', '35', '46', '45', '11', '13', '1', '0', '0', '14', '0', '1', '0'], ['8', '김민혁', '두산', '0.284', '38', '97', '88', '11', '25', '2', '0', '5', '42', '16', '0', '0'], ['9', '강승호', '두산', '0.264', '134', '487', '444', '54', '117', '28', '1', '10', '177', '62', '6', '5'], ['10', '정수빈', '두산', '0.259', '127', '455', '405', '58', '105', '12', '4', '3', '134', '41', '6', '4'], ['11', '송승환', '두산', '0.250', '11', '28', '28', '3', '7', '1', '0', '1', '11', '4', '0', '0'], ['12', '박세혁', '두산', '0.248', '128', '402', '351', '33', '87', '13', '1', '3', '111', '41', '8', '4'], ['13', '김재환', '두산', '0.248', '128', '517', '448', '64', '111', '24', '1', '23', '206', '72', '0', '4'], ['14', '김인태', '두산', '0.247', '83', '279', '235', '25', '58', '6', '0', '5', '79', '25', '0', '0'], ['15', '양석환', '두산', '0.244', '107', '446', '405', '58', '99', '14', '1', '20', '175', '51', '0', '2'], ['16', '양찬열', '두산', '0.244', '41', '94', '82', '15', '20', '4', '0', '3', '33', '12', '1', '0'], ['17', '이유찬', '두산', '0.241', '13', '31', '29', '3', '7', '0', '0', '1', '10', '2', '1', '1'], ['18', '김대한', '두산', '0.240', '51', '110', '96', '13', '23', '6', '1', '4', '43', '11', '2', '1'], ['19', '박유연', '두산', '0.235', '13', '19', '17', '0', '4', '0', '0', '0', '4', '2', '0', '0'], ['19', '조수행', '두산', '0.235', '117', '134', '119', '36', '28', '4', '1', '1', '37', '9', '2', '2'], ['21', '박계범', '두산', '0.221', '77', '168', '145', '21', '32', '8', '0', '2', '46', '14', '6', '2'], ['22', '김재호', '두산', '0.215', '102', '264', '223', '26', '48', '7', '0', '1', '58', '21', '7', '4'], ['23', '안재석', '두산', '0.213', '99', '264', '235', '22', '50', '10', '0', '3', '69', '17', '4', '2'], ['24', '장승현', '두산', '0.208', '60', '109', '96', '6', '20', '3', '0', '0', '23', '9', '3', '1'], ['25', '오재원', '두산', '0.172', '18', '31', '29', '2', '5', '2', '0', '0', '7', '4', '0', '1'], ['26', '홍성호', '두산', '0.167', '12', '19', '18', '3', '3', '0', '0', '0', '3', '0', '0', '0'], ['27', '강진성', '두산', '0.163', '40', '94', '80', '7', '13', '2', '0', '1', '18', '8', '1', '0'], ['28', '서예일', '두산', '0.160', '35', '27', '25', '2', '4', '1', '0', '0', '5', '2', '1', '0'], ['29', '신성현', '두산', '0.087', '17', '25', '23', '3', '2', '0', '0', '1', '5', '2', '0', '0'], ['30', '권민석', '두산', '0.000', '16', '3', '3', '3', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '김강률', '두산', '-', '5', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '김동주', '두산', '-', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '김명신', '두산', '-', '3', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '김지용', '두산', '-', '3', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '박신지', '두산', '-', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '박정수', '두산', '-', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '윤명준', '두산', '-', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '이승진', '두산', '-', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '임창민', '두산', '-', '3', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '장원준', '두산', '-', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '정철원', '두산', '-', '2', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '최용제', '두산', '-', '1', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['30', '홍건희', '두산', '-', '7', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']]

In [40]:
doosan_dataframe = pd.DataFrame(columns=table_head)
doosan_dataframe

Empty DataFrame
Columns: [순위, 선수명, 팀명, AVG, G, PA, AB, R, H, 2B, 3B, HR, TB, RBI, SAC, SF]
Index: []

In [41]:
for i in range(0, len(record_values)):
    doosan_dataframe.loc[i] = record_values[i]

doosan_dataframe

    순위    선수명  팀명    AVG    G   PA   AB   R    H  2B 3B  HR   TB RBI SAC SF
0    1    김태근  두산  0.500    2    6    4   0    2   1  0   0    3   2   0  0
1    2    강현구  두산  0.333    3    5    3   0    1   0  0   0    1   0   0  0
2    2    안승한  두산  0.333   30   39   36   5   12   3  0   0   15   8   1  0
3    4  페르난데스  두산  0.309  139  550  508  52  157  28  0   6  203  77   0  5
4    5    안권수  두산  0.297   76  267  239  43   71   7  2   0   82  20   1  0
5    6    허경민  두산  0.289  121  493  432  59  125  23  0   8  172  60   2  7
6    7    전민재  두산  0.289   35   46   45  11   13   1  0   0   14   0   1  0
7    8    김민혁  두산  0.284   38   97   88  11   25   2  0   5   42  16   0  0
8    9    강승호  두산  0.264  134  487  444  54  117  28  1  10  177  62   6  5
9   10    정수빈  두산  0.259  127  455  405  58  105  12  4   3  134  41   6  4
10  11    송승환  두산  0.250   11   28   28   3    7   1  0   1   11   4   0  0
11  12    박세혁  두산  0.248  128  402  351  33   87  13  1   3  111  41   8  4
12  13    김재환  두산  0.248  128  517  448  64  111  24  1  23  206  72   0  4
13  14    김인태  두산  0.247   83  279  235  25   58   6  0   5   79  25   0  0
14  15    양석환  두산  0.244  107  446  405  58   99  14  1  20  175  51   0  2
15  16    양찬열  두산  0.244   41   94   82  15   20   4  0   3   33  12   1  0
16  17    이유찬  두산  0.241   13   31   29   3    7   0  0   1   10   2   1  1
17  18    김대한  두산  0.240   51  110   96  13   23   6  1   4   43  11   2  1
18  19    박유연  두산  0.235   13   19   17   0    4   0  0   0    4   2   0  0
19  19    조수행  두산  0.235  117  134  119  36   28   4  1   1   37   9   2  2
20  21    박계범  두산  0.221   77  168  145  21   32   8  0   2   46  14   6  2
21  22    김재호  두산  0.215  102  264  223  26   48   7  0   1   58  21   7  4
22  23    안재석  두산  0.213   99  264  235  22   50  10  0   3   69  17   4  2
23  24    장승현  두산  0.208   60  109   96   6   20   3  0   0   23   9   3  1
24  25    오재원  두산  0.172   18   31   29   2    5   2  0   0    7   4   0  1
25  26    홍성호  두산  0.167   12   19   18   3    3   0  0   0    3   0   0  0
26  27    강진성  두산  0.163   40   94   80   7   13   2  0   1   18   8   1  0
27  28    서예일  두산  0.160   35   27   25   2    4   1  0   0    5   2   1  0
28  29    신성현  두산  0.087   17   25   23   3    2   0  0   1    5   2   0  0
29  30    권민석  두산  0.000   16    3    3   3    0   0  0   0    0   0   0  0
30  30    김강률  두산      -    5    0    0   0    0   0  0   0    0   0   0  0
31  30    김동주  두산      -    1    0    0   0    0   0  0   0    0   0   0  0
32  30    김명신  두산      -    3    0    0   0    0   0  0   0    0   0   0  0
33  30    김지용  두산      -    3    0    0   0    0   0  0   0    0   0   0  0
34  30    박신지  두산      -    1    0    0   0    0   0  0   0    0   0   0  0
35  30    박정수  두산      -    1    0    0   0    0   0  0   0    0   0   0  0
36  30    윤명준  두산      -    1    0    0   0    0   0  0   0    0   0   0  0
37  30    이승진  두산      -    1    0    0   0    0   0  0   0    0   0   0  0
38  30    임창민  두산      -    3    0    0   0    0   0  0   0    0   0   0  0
39  30    장원준  두산      -    1    0    0   0    0   0  0   0    0   0   0  0
40  30    정철원  두산      -    2    0    0   0    0   0  0   0    0   0   0  0
41  30    최용제  두산      -    1    1    0   0    0   0  0   0    0   0   0  0
42  30    홍건희  두산      -    7    0    0   0    0   0  0   0    0   0   0  0

In [35]:
record_values = []

for item in table_value:
    record_values.append(item.split(' '))

doosan_dataframe = pd.DataFrame(columns=table_head)

for i in range(0, len(record_values)):
    doosan_dataframe[i] = record_values[i]

doosan_dataframe

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,...,33,34,35,36,37,38,39,40,41,42
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30,30,30,30,30,30,30,30,30,30
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,김지용,박신지,박정수,윤명준,이승진,임창민,장원준,정철원,최용제,홍건희
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,두산,두산,두산,두산,두산,두산,두산,두산,두산,두산
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-,-,-,-,-,-,-,-,-,-
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,1,1,1,3,1,2,1,7
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# head = table_head.text/
# head = table_head.split(' ')
# print(type(head))

In [15]:
# table_value = driver.find_element(By.XPATH, tbody_xapth)
# print(table_value.text)

In [16]:
# value = table_value.text
# value = value.split('\n')
# print(value)

In [17]:
# record_values = []
# for item in value:
#     record_values.append(item.split(' '))

# print(record_values)

NameError: name 'value' is not defined

In [ ]:
# doosan_dataframe = pd.DataFrame(columns=head)
# for i in range(0, len(record_values)):
#     doosan_dataframe.loc[i] = record_values[i]
# doosan_dataframe

In [ ]:
table_value = driver.find_element(By.XPATH, tbody_xapth)
print(table_value.text)

In [ ]:
value = table_value.text
value = value.split('\n')
print(value)

In [ ]:
record_values = []
for item in value:
    record_values.append(item.split(' '))

print(record_values)